export(hello)
export(randomplot)
export(readcsvnew)
export(printsummary)
export(bostonhist)
export(nabel)
import(httpRequest)
import(lattice)
export(knitquadratic)
import(knitr)
import(zoo)
import(ggplot2)
import(reshape2)
export(plotFandV)
export(adj.df)
export(perturb.fn)
export(cap.fn)
export(quadratic.fn)
export(dataanalysis)
import(pander)
export(errorfun)
export(calculateerror)
export(perturb.fn)
export(cap.fn)
export(adj.df)
import(xtable)
export(base_path)
export(getmetadata)
export(saveToErrorDatabase)
export(retrieveerror)
export(listerrors)
export(getquadraticdata)
export(viewabtest)
export(viewcidresults)
import(plyr)
export(getALLCIDS)
export(groupmktidanalysis)